<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
    <div class="position-sticky pt-3">
        <ul class="nav flex-column">
{#            {% if is_granted('ROLE_RESPONSABLE') %}#}
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{ path('dashboard_index') }}">
                        <i class="fas fa-home me-1"></i>
                        Tableau de bord
                    </a>
                </li>
{#            {% endif %}#}
{#            {% if is_granted('ROLE_RESPONSABLE') %}#}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('post_index') }}">
                        <i class="fas fa-newspaper me-1"></i>
                        Articles
                    </a>
                </li>
{#            {% endif %}#}
{#            {% if is_granted('ROLE_RESPONSABLE') %}#}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('category_index') }}">
                        <i class="fas fa-tags me-1"></i>
                        Catégories
                    </a>
                </li>
{#            {% endif %}#}
{#            {% if is_granted('ROLE_SUPER_ADMIN') %}#}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('tag_index') }}">
                        <i class="fas fa-tags me-1"></i>
                        Tags
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('comment_index') }}">
                        <i class="fas fa-comment me-1"></i>
                        Commentaires
                    </a>
                </li>
{#            {% endif %}#}
{#            {% if is_granted('ROLE_SUPER_ADMIN') %}#}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('user_index') }}">
                        <i class="fas fa-user me-1"></i>
                        Utilisateurs
                    </a>
                </li>
{#            {% endif %}#}
        </ul>
    </div>
</nav>
